form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.0s forwards;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

form label {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  width: 30%; /* ปรับขนาดตามที่ต้องการ */
}

form input,
form select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 65%; /* ปรับให้พอดีกับ label */
  box-sizing: border-box;
}

form input:focus,
form select:focus {
  border-color: #4CAF50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

form button {
  align-self: center;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

form button:hover {
  background-color: #45a049;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards 0.5s;
}

thead {
  background-color: #4CAF50;
  color: white;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

/* Container Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container h1 {
  margin-bottom: 20px;
  color: #333;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Table Row Animation */
.new-row {
  animation: fadeInUp 1.0s ease-in-out;
}
