<div class="container">
  <header class="header">
    <h1><a routerLink="/">School ERP System</a></h1>
  </header>

  <!-- Navigation Bar -->
  <nav class="navbar">
    <ul>
      <li><a routerLink="/student" routerLinkActive="active">Student Management</a></li>
      <li><a routerLink="/teacher" routerLinkActive="active">Teacher Management</a></li>
      <li><a routerLink="/staff" routerLinkActive="active">Staff Management</a></li>
      <li><a routerLink="/subject" routerLinkActive="active">Subject Management</a></li>
      <li><a routerLink="/grades" routerLinkActive="active">Grade Records</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>